# Разрешаем доступ к тестовым файлам
Options +Indexes
Allow from all
Require all granted

# Разрешаем выполнение PHP
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>

# Разрешаем доступ к HTML
<FilesMatch "\.html$">
    Order Allow,Deny
    Allow from all
</FilesMatch> 