# Доступы к базе данных
DB_HOST=mysql80.hostland.ru
DB_PORT=3308
DB_USER=host1708875_cabrioride
DB_PASSWORD=P123okol123
DB_NAME=host1708875_cabrioridedev

# Telegram Bot
BOT_TOKEN=77624123123:AAHO6Ob4pq1oHrMP0Jgi098aptBR-fVPCq0

# Идентификаторы чатов и пользователей (можно перечислять через запятую)
ADMIN_IDS=    # список ID админов
ROOT_IDS=287536885               # список ID root-админов (через запятую, если несколько)
MODERATOR_IDS=5625181605 # список ID модераторов
MAIN_CHAT_ID=-1002873258290     # ID основного чата (можно несколько через запятую)

# Настройки приложения
APP_NAME=CabrioRide
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

# Настройки интеграции с Telegram
TELEGRAM_WEBHOOK_URL=https://app.cabrioride.by/bot/api/webhook
TELEGRAM_API_URL=https://app.cabrioride.by/api
TELEGRAM_APP_URL=https://app.cabrioride.by/

# токен для доступа к API распознавания номеров по фото platerecognizer.com
# File size must be lower than 3MB.
# Recommended image resolution: 1024×768.
# Recommended orientation: portrait.
# Vehicle should be at least 15% of the total image area.
# License plate should be readable by a human.

# токен для доступа к API распознавания номеров по фото platerecognizer.com
OCR_TOKEN=adc51231236e1b3bcb27d20f220f6c3c4506dc

# тестовый токен авторизованного пользователя 
TEST_TOKEN=123456789asd
DEBUG=true